/* // Small devices (landscape phones, 576px and up) */
body{
  background-color: #fddabe41;
  /* width: 1200px; */

  width: 100vw;
}
.b{
  /* width: 1090px;  */
  width: 100vw;
  padding-left: 0px; padding-rigth:0px;
}
 

.col img{
background-color: #ffffff;
display: flex;
box-sizing: border-box;
max-width: 100%;
height: auto;
vertical-align: middle;
position:fixed !important;
top:0px;

left: 0; 
z-index:100000; 
}
.fijar2{
 
top: 154px;
-webkit-backface-visibility: hidden;
z-index:100000;
-webkit-animation: fadeInDown 0.4s ease-in alternate;
animation: fadeInDown 0.4s ease-in alternate;
}
div.wrapper.menu-bg {
  background: #f0d7c2;
  box-shadow: inset 0 6px 5px -5px rgb(0 0 0 / 30%);
  overflow: visible;
  
}
.menu li>a{
  position:relative;
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 44px;
  font-size: 12px;
  color: #D16B18;
  text-transform: uppercase;
text-decoration: none;
}

/*----------------<HEADER>----------------*/
 
 
 
 
.menu{

  display: block;
  width: 100%;
  margin-left: 5px;
}
.menu li{
  position: relative;
  display: inline-block;
  
}
.menu > li:first-child {
margin-left: -10px;
}
.menu li:hover span {
color: rgb(181, 3, 3);
}
.menu li > span {
position: absolute;
right: 20px;
top: 16px;
color: rgb(179, 6, 0);
display:none;
}
nav {
  -webkit-backface-visibility: hidden;
}


.b960 .menu li>a {
  padding: 0 10px;
}
ul#menu-menu-1{
  position: relative;
  top: -3px;
  /* margin-top: -7px; */
  
}
ul#menu-menu-1 a{
  
  
} 
.menu>li>a   {     position: relative;
  display: inline-block;
 
  padding-right: 90px ;
  top: 4px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #D16B18;
  text-transform: uppercase;
  text-decoration: none;
 
 
}
.menu >li>a:after,
.menu>ul>li>a:after{
  position: absolute;
  top: 100%;
  left: 0;
  content:'';
  display: block;
  height: 1px;
  width: 100%;
  background: transparent;
  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
.page-header .menu-bg  > .container {
text-align: center;
}
.menu li:hover>a:after,
.menu li.current_page_item>a:after{

}

.menu li:hover> ul {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  height: auto;
  overflow: visible;
   
}
.menu .sub-menu li .sub-menu,
.menu ul li ul li ul {
left: 100%;
top: -1px;
border: 0;
 

}
.menu li ul {
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 185px;
  overflow: hidden;
  height: 0px;
  border-top: 1px solid #D16B18;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  
  background-color: #f5caa7;
  z-index: 9999;
  text-align: left;
  -webkit-transform: translateZ(0);
}
.menu {
text-align: left;
}

.menu li ul li {
border-top: solid 1px #D16B18;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
position: relative;
display: block;
-webkit-backface-visibility: visible;
margin: 0;
}
.menu li> ul>li:first-child{
  border-top-width: 0px;
}
.menu li ul li a {
  display: block;
  padding-right: -40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #d16b18;
  text-transform: uppercase;
  
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  white-space: nowrap;
}
.menu li>ul>li>a:hover{
  background-color: #fcd7a6bd;
}

#menu-btn {
  width: 27px;
  height: 13px;
  background: no-repeat;
  position: relative;
  margin: 18px;
  display: none;
} 
.menu {
  display: flex;
  width: 100%;
  margin-left: 0px;
}
ul, li {
  padding: 0;
  margin: 0;
}
user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.headerstyle3 .menu-bg .container {
  text-align: left;
}
.page-header .menu-bg > .container {
  text-align: center;
}


.headerstyle3 .menu, .headerstyle2 .menu {
  width: auto;
  float: right;
}
.headerstyle3 .menu {
  margin-right: -36px;
}
.menu {
  text-align: left;
}
.menu {
  display: block;
  width: 100%;
  margin-left: 5px;
}
ul, li {
  padding: 0;
  margin: 0;
}

.logo img {
  display: block;
  margin-top: 0px;
} 
.logo {
  display: flex;
  float: left;
  padding-bottom: 0px;
}

.navbar {
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding-top: 0rem;
padding-bottom: 0rem; 
}

.bg-info {
background: #f5caa7;
box-shadow: inset 0 6px 5px -5px rgb(0 0 0 / 50%);
overflow: visible;
background-color: #f5caa7 !important;
}
a {
color: #D16B18;
text-decoration: none;
background-color: transparent;
font-size: 15px;
}
a:hover {
color: #180e00;
text-decoration: underline;
}
.c a:hover {
color: #7c694c;
text-decoration: none;

}
.c a{
position: fixed; 
color:rgb(37, 1, 1);
text-transform: uppercase;
top: 155px;
left:1090px; 
right:1200px; 
width:90px;
 

}
 
  
.grid_12{
display:flex;
 position: relative;
 top: 107px;
 height: 44px;
 margin-right: 0px;
 margin-left: 0px;
-webkit-text-size-adjust: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
color: #D16B18;
display: inline;
float: left;

width: 97.5%;
margin-bottom: 0;

}
h1.headline.marble.headline {
text-align: start;
  position: relative;
  width: 1200px;
  right: 0px;
  margin-bottom: 0px;
  left: 0px;
  margin-left: 0px;
  background-color: #f5caa773;
  padding-left: 22px;
  height: 44px;
  padding-top: 0px;
 
}
.border-bottom-black-tr {
border-bottom: 1px solid rgba(245, 170, 31, 0.22);
width:1200px;
}
.headline h1 {

display: block;
float: left;
color: #e7ebee;
text-transform: uppercase;

font-weight: 800;
line-height: 54px;
margin-bottom: 0;
}
h1.headline.marble.headline {
padding-top: 7.4px;
  text-align: start;
  font-weight:bolder;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif; 
}
div#crumbs{
position: relative;
bottom: 41px;
right: 20px;

}
 
   
 
a.nav-link  {
    color: #d16b18;
}
.delimiter {
padding: 0 5px;
 
font-size: 13px;
}
.page-path {
display: block;
float: right;
}
.menu >li>a:after, .menu>ul>li>a:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  display: block;
  
  
  background: transparent;
  transition: all 0.3s linear;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
element.style {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-dark .navbar-brand {
  color: #d16b18;
  font-size: 1rem;
}


.bg-dark {
  --bs-bg-opacity: 90%;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg- ))!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #D16B18;
  font-size: 1rem;
} 

.dropdown-menu-dark .dropdown-item{
  color: #D16B18;
  background-color: #f5caa7a8;
   
}
.dropdown-menu.show {
  display: block;
  background-color: #f5caa7e7;
}
.dropdown-menu-dark .dropdown-item:focus, .dropdown-menu-dark .dropdown-item:hover {
  color: #080600;
  background-color: rgba(255,255,255,.15);
}
.fondo{
  display:flex;
  background-color: rgba(255, 255, 255, 0.179);
  border:none;
  width: 1200px;
  margin: 0px;
}

h2{

align-items: center;
}

img, svg {
vertical-align: middle;
}
*, ::after, ::before {
box-sizing: border-box;
}
.card{
  border:none;
  padding:20px;
  /* margin-left:180px; */
  width: 350px;
  background-color: #f5caa7;
  border-radius: 25px;
}
.card-img-top{
align-self : center;
width: 250px;
  
}



.page-header {
  position: relative;
  z-index: 10000;
}
#menu-btn {
  width: 27px;
  height: 13px;
  background:   no-repeat;
  position: relative;
  margin: 18px;
  display: none;
}
.text-center {
  text-align: center!important;
}
.ms-auto {
  margin-left: auto!important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;


}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar {
  position: relative;
  width: 100vmax; 
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  padding-left: 0px;
 
   
}
.navbar-light .navbar-toggler {
  color: #D16B18;
  border-color: #d16b1898;
      padding-right:0px;
  width:1200px;

}
.navbar-toggler {
  padding: 12px 20px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #d16b1888;
  border: 3px solid red;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
}

.navbar-toggler-icon {
display: inline-block;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
content: "";
background: 50% / 100% 100% no-repeat;
border-color: #D16B18; 
  
}
.div.row.fondo{
   box-align: 100%;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
display: inline-block;
width: 2rem;
height: 2rem;
background-repeat: no-repeat;
background-position: 50%;
background-size: 100% 100%;
}

/* FIN HEADER */ 
.center h3{
text-align: center;
padding : 30px;
font-size: Nova;
color:#D16B18;
margin:5px;
}

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

/* PRODUCTOS RECIENTES */
.col-12 .col-md-6{
display:flex;
flex-wrap: wrap;
}


.recommendations{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
}

.home .row {
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-flex-basis: 100%;
flex-basis: 100%;
}

.home .row {
position: relative;
}
section>.container {
max-width: 1200px;
margin: 0 auto;
padding: 20 px 0;
}
.carousel-container{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
position: relative;
width: 100%;
min-width: 100%;
display: flex;
flex-wrap: wrap;
left: -25px;
width: 1200px;
min-width: 1200px;
padding-left: 22px;
margin-left: 19px;
}
.slick-initialized .slick-slider{
max-width: 1200px;
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
user-select: none;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
display: flex;
flex-wrap: wrap;
position: static;
}
.slick-slider {
max-width: 1200px;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;

}
.v-application a {
  color: #d16b18;
}
.slick-list{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
user-select: none;
-webkit-tap-highlight-color: transparent;
position: relative;
display: block;
overflow: hidden;
margin: 0;
padding: 0;
transform: translateZ(0);
height: 415px;
margin-bottom: -78px;
white-space: nowrap;
}
.slick-track{
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
user-select: none;
-webkit-tap-highlight-color: transparent;
white-space: nowrap;
position: relative;
top: 0;
left: 0;
display: flex;
margin-right: 100px;

opacity: 1;
transform: translate3d(0px, 0px, 0px);
width: 1200px;
}.col-4.slick-slide.slick-active {width: 260px;
}
.slick-slide  {
border-collapse: collapse;
font-size: 13px;
-webkit-box-direction: normal;
font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
user-select: none;
-webkit-tap-highlight-color: transparent;
white-space: nowrap;
float: left;
height: 100%;
min-height: 1px;
display: block;
position: relative;
width: 240px;
height: 320px; 
border: 3px;
margin-right: 60px;
margin-left: 60px ;
  /* padding-bottom: 2px; */
  border: #D16B18 .2px solid;
  background-color: #f5caa7;
}
 
/* EQUIPO */
.seccion-noticias--equipo{
display: flex;
flex-direction: row;
flex-wrap: nowrap; 
justify-content: normal; 
position:-3;
height: 300px;
}
.noticia--Equipo{
background-color: #D16B18;
font-size: 15px;

}
.noticia--Equipo > img{
border-radius: 70%;
}

.equipo {
width: 280px;
background-color: #f5caa7;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: #D16B18 .2px solid;
border-radius: 5%;
margin-left:10px ;
}

article {
background-color:unset;
}
.noticia__titulo{
color:#D16B18;
font-size: 20px;
margin-bottom: 27px;
}
.noticia__texto{
color:#D16B18;
margin-top: 23px;
}
.noticia__articulo {
background-color: aquamarine;
}

/* .noticia__cuadradito{
border : 2px solid red; 
width: 100px;
height: 100px;
}  */

.noticia--bggreen{
background-color: rgb(221, 246, 184);

}
/* 
.noticia__texto--bigtext{
font-size: 15px;
color: blue;
} */

.footer{
   border-radius:4px;  
   height:130px;
   width:98.78vmax;
   background-color:rgb(245 234 225);
   z-index: 10000;
   justify-content: space-around;
   margin-top: 100px;
   border-top: solid #D16B18;
}
.footer2{
  color: #D16B18;
  position:  relative;
  height:30px;
  /* padding-left: 200px; */
  height: 30px;
  top: 30px;
  padding-top: 2px;
  justify-content: center;

}
.footer3{
position:  relative;
top: 50px;
flex:auto;
justify-content: space-between;
padding-bottom: 10px;
/* margin-left: 500px;
margin-right: 500px; */
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
  

}
}
  


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {     }

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px)
{
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }